

.amazing-offers-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff; /* رنگ پس‌زمینه برای وضوح */
  }
  /* .amazing-offers-wrapper:hover{
    cursor: pointer;
  }
   */
  .amazing-offers-container {
    background-color: #d32f2f;
    padding: 16px;
    border-radius: 8px;
    border: none;
    display: flex;
    flex-wrap: wrap; /* برای مطمئن شدن از اینکه محتوا در صورت نیاز به خط بعدی برود */
    gap: 16px;
    align-items: flex-start;
    max-width: 90vw; /* جلوگیری از کشیده شدن بیش از حد */
    justify-content: center; /* محتوا را وسط‌چین می‌کند */
  }
  
  .product-card {
    background-color: white;
    padding: 12px;
    border-radius: 8px;
    width: 180px;
    text-align: center;
    flex-shrink: 0; /* جلوگیری از کوچک شدن کارت‌ها */
  }

.product-card:hover{

  cursor: pointer;
}

  
  .product-image {
    display: block;
    margin: 0 auto;
    border-radius: 8px;
    width: 100%; /* اطمینان از اینکه تصویر به درستی اندازه‌گیری شود */
    height: auto;
  }
  
  .product-title {
    font-size: 14px;
    font-weight: bold;
    margin-top: 8px;
  }
  
  .product-price {
    color: #d32f2f;
    font-weight: bold;
    margin-top: 4px;
  }
  
  .product-old-price {
    color: gray;
    text-decoration: line-through;
    font-size: 12px;
  }
  
  .product-discount {
    background-color: #d32f2f;
    color: white;
    padding: 4px 8px;
    border-radius: 16px;
    font-size: 12px;
    display: inline-block;
    margin-top: 8px;
  }
  
  .offer-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgb(252, 250, 250);
    width: 120px;
    margin-top: 20px;
  }
  
  .offer-image {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
  }
  
  .offer-timer {
    margin-top: 12px;
  }
  
  .timer-text {
    font-size: 24px;
    font-weight: bold;
    color: white;
    background-color: #d32f2f;
    padding: 8px 16px;
    border-radius: 8px;
    text-align: center;
  }
  
  .Amazing_smile {
    width: 60px; /* اندازه‌ی تصویر ایموجی */
    height: auto;
    margin-top: 10px;
  }
  
  .offer-button {
    color: #ffffff;
    background-color: #d32f2f;
    padding: 6px 12px;
    border-radius: 8px;
    margin-top: 12px;
    font-weight: bold;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s ease;
  }
  
  .offer-button:hover {
    background-color: #c2185b; /* تغییر رنگ پس‌زمینه هنگام هاور */
  }
  